{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Jacqueline Håsteen - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Jacqueline Håsteen."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href={% static 'css/style.css' %}>
<link rel="icon" href="/favicon.ico" type="image/x-icon"/>
<link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{% static 'images/jhsquare.jpg' %}" alt="Jacqueline Håsteen" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Jacqueline Håsteen</h1>
			<h2 class="quickFade delayThree">@HåsteenKonsult</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>jacqueline[at]hasteenkonsult(.)se</li>
				<li><a href="http://www.hasteenkonsult.se">www.hasteenkonsult.se</a></li>
				<li>+46 (0)76 551 99 05</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				
				<div class="sectionContent">
					<p>Curious in most things. Moves fast. Loves to build things in teams. Avid reader. Occasional writer.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Selection of Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Founder & Consultant @ Håsteen Konsult AB</h2>
					<p class="subDetails">August 2017 - Present</p>
					<p>Managing projects such as; Building Service Monitoring and Operational Intelligence with Splunk, Automating app deployment with Ansible, Organizational transformation based on Agile Principles and Site Reliability Engineering. </p>
				</article>
				
				<article>
					<h2>Manager / Project Manager @ Skatteverket (Swedish Tax Agency)</h2>
					<p class="subDetails">April 2013 - December 2019</p>
					<p>Youngest IT division manager ever appointed, managed NOC, Servicedesk, Incident Managers, System Administrators. 50% increase in FCRR, introduced Agile Methodologies as well as SRE practices such as blameless postmortems. </p>
				</article>
				
				<article>
					<h2>Trainee @ Capgemini</h2>
					<p class="subDetails">January 2012 - March 2013</p>
					<p>Trainee within Project Management team. Enrolled in training in parallel with client assignments and pre-sale activities. </p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>agile transformation</li>
                    <li>devops</li>
                    <li>data analysis 🐼</li>
                    <li>leadership</li>
					<li>digital strategy</li>
                    <li>project management</li>
					<li>python 🐍</li>
                    <li>R</li>
					<li>SQL</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>

        <section>
			<div class="sectionTitle">
				<h1>Certifications and Course Work</h1>
			</div>

			<div class="sectionContent">
				<ul class="keySkills">
					<li>Data Scientist with Python</li>
					<li>R programming</li>
                    <li>Splunk 7.x Fundamentals Pt. 1 </li>
					<li>Advanced Excel Programming, 7.5 credits</li>
					<li>Management By Heart</li>
					<li>Labour Law, 7.5 credits</li>
					<li>Creative Writing, 7.5 credits</li>
					<li>ITIL intermediate certificates</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Linköpings Tekniska Högskola (LiTH)</h2>
					<p class="subDetails">Master of Science & Engineering</p>
					<p>Classes in Bioinformatics, Protein Science, Mathematics, Statistics and Programming. Member of the Student Board and Appointment Board.</p>
				</article>

			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>
